/*
Theme Name:         iGallery 3.7.1 Master
Theme URI:          http://foundationpress.olefredrik.com
Github Theme URI:   https://github.com/olefredrik/FoundationPress
Description:        Based on FoundationPress 2.7.1
Version:            3.7.1
Author:             Mark
Author URI:         mmoser.com

License:            MIT License
License URI:        http://www.opensource.org/licenses/mit-license.php
*/

/* ----------------------------------------------------------------------------
  3.7.1 - 11/04/2017 - andie
        - added most used tags slidebox
  3.7 - 05/04/2017 - andie
      - fixed preview page markup
      - fixed javascript not toggling plus/minus icons
  3.6.9 - 03/04/2017 - andie
        - major query fix
        - set small thumbnail as default
        - increased limit
        - adjusted infitinite scroll behavior
  3.6.2 - 31/03/2017 - andie
        - fixed thumbnail toggler switch design
        - added thumbnail size preference caching
  3.6.1 - 30/03/2017 - andie
        - added thumbnail size toggler
        - randomized initial results
  3.6 - 15/02/2017 - andie
      - Added add/remove notification
      - Added total download size
      - Added back-to-top functionality

  3.5.1 - 08/02/2017 - andie
        - Put load more detection
        - Modified infinite scroll for no search query

  3.5 - 07/02/2017 - andie
      - Fixed IE infite scroll

  3.4 - 07/02/2017 - andie
      - Put add-to-cart functionality

  3.1.1 - 31/01/17 - mark
        - Added lightbox icon on overlay
        - Added lightbox window via reveal
        - Added top-bar-left for navigation
        - Removed #intro


  3.0 - 31/01/17
      - Finalized REST API class to include meta data in results for frontend debugging
      - Fixed missing post IDs in initial search page results
      - Adjusted results per request to 10 for production

  2.8 - 31/01/17
      - Added infinite scroll functionality through custom REST API (services.php)

  2.4 - 19/01/17
      - Added download button on search results
      - Added info button to redirect to the single attachment page
      - Styled the single attachment page
        - Added download button
      - Moved the close button, quick download button, and the title to top on lightbox view of the image
      - added footer
      - added tag clouds manually until Roman upgrade php to the latest version
        - commented shortcode mla_tag_cloud[] on header.php and replace with template part [searchtags-tagcloud]

  2.3 - 29/11/16
      - Added off canvas menu for tags
      - Added media library assistant plugin to display all keywords on the menu

  2.2 - 28/11/2016
      - Changed fancybox settings
        - Edited sprite
        - Added animation
        - Also uploaded full res images on the server

  2.1 - 21/11/2016
      - Chaned page number - 142 - 40



---------------------------------------------------------------------------- */
