// Page header
#front-hero {
	.marketing {
		@include grid-row();
		max-width: 55rem;
	}

	@include breakpoint(small) {
		background: url('../images/demo/hero-bg-foundation-6-small.svg') bottom center;
		background-size: cover;
		background-position: bottom;
		padding: rem-calc(65%) 0;
		margin: 0 0 rem-calc(32);
		height: auto;
		position: relative;
		text-align: left;
	}

	@include breakpoint(medium) {
		background: url('../images/demo/hero-bg-foundation-6-large.svg') bottom center;
		background-size: cover;
		background-position: center;
		height: rem-calc(685);
		margin: 0 0 rem-calc(72);
	}

	#watch {

		@include breakpoint(small) {
			@include grid-column(7);
			@include grid-column-position(-5);
		}

		@include breakpoint(medium) {
			@include grid-column(12);
			@include grid-column-position(0);
		}

		section {
			display: inline;
		}

		a {
			color: #B4C9D1;
			cursor: pointer;
			font-weight: 400;
			margin-right: rem-calc(20);
		}

		a:hover {
			color: #fff;
		}

		#stargazers {
			:before {
				content: "\f09b";
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-decoration: inherit;
				color: #B4C9D1;
				margin-right: rem-calc(8);
			}
		}

		#twitter {
			:before {
				content: "\f099";
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-decoration: inherit;
				color: #B4C9D1;
				margin-right: rem-calc(8);
			}
		}

	}

	.tagline {

		@include breakpoint(small) {
			@include grid-column(8);
		}

		@include breakpoint(medium) {
			@include grid-column(5);
			padding-top: 6rem;
		}

	}

	h1 {
		color: #fff;
		font-weight: 500;

		@include breakpoint(small) {
			font-size: 2.2rem;
		}

		@include breakpoint(medium) {
			font-size: 2.875rem;
		}

	}

	h4 {
		color: #fefefe;
		font-weight: 300;
		font-size: 1.3125rem;
	}

	.download { margin-top: rem-calc(20); }

}

// Intro
.intro {
	@include grid-row();

	.fp-intro {

		@include breakpoint(small) {
			@include grid-column(12);
		}

		@include breakpoint(medium) {
			@include grid-column(10);
			@include grid-column-offset(1);

			h2 {
				font-weight: 300;
				margin-bottom: 1.5rem;
			}

			h4 {
				font-size: 1.125rem;
				line-height: 1.6;
				color: #777;
				margin-bottom: 2rem;
			}

		}
	}
}

// Section divider
.section-divider {
	@include grid-row();

	hr {
		@include grid-column(12);
		@extend .dotted;
		box-sizing: border-box;
	}
}


// Benefits
.benefits {
	@include grid-row();
	text-align: center;

	header {
		@include grid-column(12);

		h2 {
			font-weight: 300;
		}

		h4 {
			font-size: 1.125rem;
			line-height: 1.6;
			color: #777;
		}
	}

	.semantic,
	.responsive,
	.customizable,
	.professional {
		@include breakpoint(small) {
			@include grid-column(12);
		}

		@include breakpoint(medium) {
			@include grid-column(3);
		}

		img {
			padding: 1.25rem;
    	margin: 1rem auto 0 auto;
		}

		h3 {
			color: #0a0a0a;
			font-weight: 300;
			font-size: 1.75rem;
		}

		p { font-size: 0.9375rem; }

	}

	.why-foundation {
		@include grid-row();
		@include grid-column(12);
		margin-top: 4rem;
	}

}

body {
    overflow-y: auto !important;
}

.reveal-overlay {
    overflow-y: auto !important;
}

.gallery-cart-instruction {
    color: #909090;
    font-style: italic;
    font-size: 2.1vw;
    text-align: center;
    width: 100%;
    display: block;
    margin-top: 6vh;
    font-weight: 100;
    display: none;
    
    i {
        color: #2199e8;
    }
}

#lightbox-notif {
    text-align: center;
    width: 0px;
    line-height: 57px;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 11px;
    box-sizing: border-box;
    color: transparent;
    white-space: nowrap;
    float: right;
    height: 68px;
}

.lightboxicon {
    overflow-x: 0px;
    white-space: nowrap;
    transition: width 220ms, background-color 220ms 120ms;
}

.lightboxicon.announce #lightbox-notif {
    width: 132px;
    color: #fff;
    transition: width 220ms, color 100ms 250ms;
}

.lightboxicon.announce a {
    padding-left: 4px;
    padding-right: 4px;
}
.lightboxicon.announce {
    width: 210px;
    background-color: rgb(255, 114, 17);
    transition: width 220ms, background-color 100ms;
}
.home {
    width: 100%;
    display: block;
}
a[rel=home] {
    display: inline-block;
    width: 132px;
    margin: 0px auto;
}
#d-size {
    display: inline-block;
    width: auto;
    opacity: 1;
    z-index: inherit;
    position: inherit;
    height: 15px;
}
#masthead {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 10;
}
section.container {
    padding-top: 68px !important;
}
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    box-sizing: border-box;
    opacity: 0.7;
    display: none;
    z-index: 11;
    width: 72px;
    font-size: 12px;
    line-height: 10px;
    color: #000;
}
.back-to-top:hover {
    opacity: 1;
    color: #000;
}