body{
  background: #f2f2f2;
}

$grid-row-width: 82rem;

.title-bar-title a, .top-bar .menu .home a {
    font-size: 2rem;
    color: white;
    font-weight: 100;
    position: relative;
    line-height: .7;
}

.top-bar, .top-bar ul {
    background-color: transparent;
}



.top-bar{

  .top-bar-right {
      float: right;
  }

  .top-bar-right{
    z-index: 9;
  }

  .top-bar-left{
      position: relative;
      z-index: 9;
      float: left;

      li{
        a:hover{
          text-decoration: underline;
        }
      }

      li:first-child{
        a{
          color: #fff;
          background: #ff7211;
          font-weight: 700;

          &:hover{
            text-decoration: none;
            background: #ff7211;
            color: white;
          }
        }
      }
  }

  .top-bar-title{
      float: left;
      position: absolute;
      width: auto;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
  }


  .menu{

    li:not(:last-child){
      border: none;
    }




    a {
          height: auto;
          color: #e6e6e6;
          padding-top: 0;
          padding-bottom: 0;
          font-weight: 400;
          font-size: 1rem;
          line-height: 2;
      }

    .active>a {
        color: #fff;
        background: #ff7211;
        font-weight: 700;
    }


    a:hover:not(.button) {
          background-color: transparent;
      }
  }

}

.backtomain{
  position: relative;
  z-index: 9;
  a {
      color: white;
      font-size: 2rem;
      line-height: 3.5rem;
      margin-right: 20px;
  }
}

.notif{
  border-radius: 20px;
  padding: 4px;
  font-size: .8rem;
  height: 25px;
  width: 25px;
  line-height: 1.2;
  color: white;
}

.lightboxicon {
  width: 100px;
  height: 68px;
  text-align: center;

    a{
      color: #fff;
      font-size: 2rem;
      line-height: 2;
      position: relative;
      z-index: 1;

      span {
        color: #fff;
        background: #008dee;
        position: absolute;
        top: 2px;
        text-indent: 2px;
        right: -15px;
        z-index: 9;

        @extend .notif;
      }
    }
}


.reveal {
    width: 600px;
    max-width: 75rem;
    position: absolute;
    right: 0;
    top: 0 !important;
    height: 100%;

    .column{
      position: relative;

      span {
        position: absolute;
        height: 25px;
        width: 25px;
        opacity: 0;
        top: -7px;
        left: 5px;
        z-index: 9;

        a{
          @extend .notif;

          background: red;
          position: absolute;
          text-indent: 6px;

        }
      }

      &:hover{
        span{
          opacity: 1;
        }
      }
    }
}



.large-up-4>.column:nth-of-type(4n+1), .large-up-4>.columns:nth-of-type(4n+1) {
    clear: both;
    margin-bottom: 20px;
}


ul.menu {
    width: 100%;
}


h2 {
    font-size: 2rem;
    margin: 20px 0;
}

.button{
  background-color: #008dee;
}



div#intro {
  display: none;
    text-align: center;

    h1{
      font-size: 4rem;
      font-weight: bold;
      a{
        color: #323232;
      }
    }

    h2{
      font-size: 1rem;
    }
}

.overlay {
  position: relative;
  width: 100%;

  display: none;
  z-index: 9;

    ul {
        list-style: none;
        margin: 0;

        i{
            color: white;
            font-size: 1.5rem;
        }
    }

    li.download {
        position: absolute;
        top: 0;
        right: 8px;
    }

    li.addtolightbox{
      margin: 8px 1px 1px 8px;
    }



    li.addtolightbox, li.download  {

        i {
              line-height: 2.6rem;
              position: relative;
              top: 3px;
          }

        a {
            background: rgba(50, 50, 50, 0.46);
            padding: 10px;
            border-radius: 6px;
            width: 40px;
            height: 40px;
            }
    }

    li.info {
      background: rgba(0,0,0,.54);
      padding: 10px;
        position: absolute;
        top: 0;
        left: 0;
    }

    li a:hover{
      color: white;
      background: #008dee;
      border-radius: 6px;
    }
} /*overlay*/




.fancybox-wrap{

  .top-bar-left {
      display: none;
  }

  #footer-container{
    display: none;
  }

 header#masthead {
      display: none;
  }

  li{
    list-style: none;
  }

  h2{
    display: none;
  }

  .nav-links {
      display: none;
  }

  .fancybox-overlay .fancybox-skin {
      height: auto !important;
  }

  .fancybox-nav {
      width: 60px;
  }

  .fancybox-nav span {
      visibility: visible;
      opacity: 0.5;
  }

  .fancybox-nav:hover span {
      opacity: 1;
  }

  .fancybox-next {
      right: -60px;
  }

  .fancybox-prev {
      left: -60px;
  }

  .fancybox-nav, .fancybox-nav span {
      position: fixed;
  }


  .fancybox-title-float-wrap{
    position: absolute;
    width: 100%;
    bottom: 35px;
    left: 0;
    text-align: left;

    .child{
        background: transparent;
        width: 100%;

        a{
          color: white;
        }

        i.fa.fa-download {
            float: right;
            font-size: 2rem;
            position: relative;
            bottom: 13px;
        }
      }
  }

  a.fancybox-item.fancybox-close {
      opacity: 0;
  }

  .large-3 {
      width: 25%;
      position: absolute;
      background: rgba(255,255,255,0.9);
      padding: 10px;
  }

  .large-9 {
      width: 100%;
  }

  .fancybox-opened .fancybox-skin {
    padding: 0;
  }

  .column, .columns {
      padding-left: 0;
      padding-right: 0;
  }

}

.item:hover .overlay {
    display: block;
}

.pagination {
    margin: auto;
    margin-bottom: 1rem;
    text-align: center;

    .current {

      padding: 0;
      background: transparent;
      color: #fefefe;
      cursor: default;

      a{
        background: white;
        border: 1px solid #cacaca;
      }
    }

}

.pagination a, .pagination button {
    padding: 0.5rem 1rem;
    border-radius: 2px;
    border: 1px solid #f2f2f2;
}

.pagination a:hover, .pagination button:hover {
    background: white;
    border: 1px solid #cacaca;
}

.search-form {

  height: 100px;
  position: relative;
  top: 17px;

    input.search-submit {
        position: absolute;
        top: 0;
        right: 0;
    }

    form.search-form {
        position: relative;
    }

    input.search-submit {
        background: #323232;
        border: none;
        box-shadow: none;
        color: white;
        padding: 13px;
    }

}

#search{
  input.search-submit {
      position: absolute;
      top: 0;
      right: 0;
  }

  form.search-form {
      position: relative;
  }

  input.search-submit {
      background: #323232;
      border: none;
      box-shadow: none;
      color: white;
      padding: 13px;
  }

}

input.search-field {
    height: 3rem;
}

.pagination-centered {
    margin-top: 50px;
}

.search-tags{
  text-align: center;

  ul li {
      display: inline;
  }
}

.next {
    width: 50%;
    display: table;
    margin: 2rem auto;
}

#footer-container {
    max-width: 100%;
    width: 100%;
    margin: 3.75rem auto 0;
    border-top: none;
    background: #323232;
}


/* ---- .grid-item ---- */

.grid-sizer,
.item {
  width: 24%;
}

.gutter-sizer {
  width: 1%;
}

.item{
  float: left;
  margin-bottom: 1%;
}

.item img {
  display: block;
  width: 100%;
}

header#masthead {
    background: #323232;
    border-bottom: 4px solid #ff7211;
    height: 68px;
}

$gutter: 20px;

.search-title {
    @include grid-column-row($gutter);
}




li.home {
    width: 100%;
    text-align: center;
    display: inline;
}

.is-open-left {
  .off-canvas-content {
      opacity: 0.1;
      overflow: hidden;
      height: 100%;
  }
}

.off-canvas-wrapper{
  background: #f2f2f2;
}

.off-canvas-content{
  box-shadow: none;
  background: #f2f2f2;
}

h3.logo{
  color: #ff7211;

  span {
      font-weight: 700;
  }

  i{
    font-style: normal;
    color: #323232;
  }
}

button.close-button {
    background: #323232;
    right: 0;
    top: 0;
    padding: 3px 8px 7px;
    color: white;

    &:hover{
      color: white;
      background: #008dee;
    }
}

li.mleft {
    float: left;
    margin: 5px 0 0 9px;
    border: none !important;
}

.off-canvas-wrapper, .off-canvas-wrapper-inner, #offCanvas{
  height: 100%;
}

#offCanvas {
    padding: 20px;
    background: #fff;
    height: 100%;

    a{
      color: #323232;
      font-size: .95rem !important;


      &:hover{
        color: #008dee;
        text-decoration: underline;
      }

      &:before{
        content: "#";
      }
    }

    ul {
        list-style: none;
        margin: 20px 0 0;

        li{
          border-bottom: 1px solid #f2f2f2;
              padding: 5px 0;
        }
    }
}

 .fancybox-wrap .fancybox-title-float-wrap .child {
     background: 0 0;
     width: 100%;
     text-align: right;
     text-indent: 20px;
     line-height: 44px;
 }

 .fancybox-title.fancybox-title-float-wrap {
     position: fixed;
     top: 0;
     background: rgba(50, 50, 50, 0.53);
     height: 50px;
 }

 .fancybox-wrap .fancybox-title-float-wrap .child i.fa.fa-download {
     float: right;
     font-size: 2rem;
     position: relative;
     bottom: -6px;
 }

 .fancybox-close {
     background-position: -3px 0;
     position: fixed;
     top: -11px;
     right: inherit;
     width: 65px;
     height: 58px;
     z-index: 9999;
     left: -12px;
 }

 i.fa.fa-info-circle {
     font-size: 24px;
     position: relative;
     top: 4px;
     right: 10px;
 }

 .fancybox-title{
    a.add {
        font-size: 2rem;
    }
 }

 aside li {
     list-style: none;
 }

 aside h2 {
     display: none;
 }

 aside h1 {
     font-size: 1.2rem;
     font-weight: 700;
     margin-bottom: 20px;
 }

 footer#footer {
     padding: 50px 0;
     background: #323232;
     margin-top: 50px;
 }

 #footer p, #footer a{
 	color: white;
 }

 #footer a:hover{
  	text-decoration: underline;
  }

  a#c-all {
      float: right;
  }

body {
    height: auto !important;
}

#circleG{
	width:150px;
	margin:auto;
    padding-top: 95px;
    opacity: 0.4;
}

.circleG{
	background-color:rgba(255,255,255,0);
	float:left;
	height:32px;
	margin-left:17px;
	width:32px;
	animation-name:bounce_circleG;
		-o-animation-name:bounce_circleG;
		-ms-animation-name:bounce_circleG;
		-webkit-animation-name:bounce_circleG;
		-moz-animation-name:bounce_circleG;
	animation-duration:2.83s;
		-o-animation-duration:2.83s;
		-ms-animation-duration:2.83s;
		-webkit-animation-duration:2.83s;
		-moz-animation-duration:2.83s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	border-radius:21px;
		-o-border-radius:21px;
		-ms-border-radius:21px;
		-webkit-border-radius:21px;
		-moz-border-radius:21px;
}

#circleG_1{
	animation-delay:0.57s;
		-o-animation-delay:0.57s;
		-ms-animation-delay:0.57s;
		-webkit-animation-delay:0.57s;
		-moz-animation-delay:0.57s;
}

#circleG_2{
	animation-delay:1.32s;
		-o-animation-delay:1.32s;
		-ms-animation-delay:1.32s;
		-webkit-animation-delay:1.32s;
		-moz-animation-delay:1.32s;
}

#circleG_3{
	animation-delay:1.7s;
		-o-animation-delay:1.7s;
		-ms-animation-delay:1.7s;
		-webkit-animation-delay:1.7s;
		-moz-animation-delay:1.7s;
}



@keyframes bounce_circleG{
	0%{}
	50%{
		background-color:#000000;
	}
	100%{}
}

@-o-keyframes bounce_circleG{
	0%{}
	50%{
		background-color:#000000;
	}
	100%{}
}

@-ms-keyframes bounce_circleG{
	0%{}
	50%{
		background-color:#000000;
	}
	100%{}
}

@-webkit-keyframes bounce_circleG{
	0%{}
	50%{
		background-color:#000000;
	}
	100%{}
}

@-moz-keyframes bounce_circleG{
	0%{}
	50%{
		background-color:#000000;
	}
	100%{}
}
#circleGBG {
  width: 100%;
  background-color: #f2f2f2;
  z-index: 11;
  padding-bottom: 3em;
}
.pagination.right {
    display: none;
}
#igallery {
    opacity: 0;
}
input {
  -webkit-appearance : none;
  border-radius: 0;
}

/*----*/
.toggle-tags img {
  width: 30px;
  height: 30px;
  background-color: rgba(50,50,50,.46);
  padding: 7px;
  box-sizing: content-box;
  border-radius: 6px;
  position: absolute;
  top: 2px;
  right: 53px;
}
.toggle-tags:hover img {
  background-color: #008dee;
}
.toggle-tags.loaded:hover {
  background-color: #686868;
  width: 78%;
  padding: 5px;
  font-size: 16px;
  line-height: 16px;
}
#tags-minibox {
  padding: 0px;
  margin: 0px;
  background-color: rgba(0,0,0,0.9);
  display: inline-block;
  width: 0px;
  position: absolute;
  list-style-type: none;
  z-index: 12;
  overflow-y: auto;
  top: 0px;
  left: 0px;
}
#tags-minibox li {
  padding: 0px 7px 2px 7px;
}
#tags-minibox li a {
  color: #fff;
  font-size: 1.25em;
}
#tags-minibox li small {
  color: #2a9dd2;
}
